%main
  %img{ src: 'https://previews.agefotostock.com/previewimage/medibigoff/51ed604d1131ce0d8b011951cfb44a30/wr0861492.jpg' }
  %blockquote
    %p HA HA! BUSINESS!
    %p
      %cite
        \- This guy, probably
