%img.max-w-4xl{ src: 'https://previews.agefotostock.com/previewimage/medibigoff/51ed604d1131ce0d8b011951cfb44a30/wr0861492.jpg' }
%blockquote.border-l-4.border-solid.border-accent.p-4
  %p HA HA! BUSINESS!
  %p
    %cite
      \- This guy, probably
